<mat-tab-group>
  <mat-tab label="강사 정보 ">
    <section class="first">
      <header>
        <img src="../../../assets/images/users/2.jpg" alt="/">
      </header>

      <body>
        <p>
          <span class="label">아이디</span>
          <span class="contents">jkjkjkjk122</span>
        </p>
        <p>
          <span class="label">강사 이름</span>
          <span class="contents">김모모</span>
        </p>
        <p>
          <span class="label">연락처</span>
          <span class="contents">010-0000-0000</span>
        </p>
        <p>
          <span class="label">최종 학력</span>
          <span class="contents">학사졸업 (심리대학교/ 심리학과)</span>
        </p>
        <p>
          <span class="label">계산서 유형</span>
          <span class="contents">세금 계산서</span>
        </p>
        <p>
          <span class="label">정산 정보</span>
          <span class="contents">EAP뱅크 000-00000-00-000 김모모</span>
        </p>
        <p>
          <span class="label">성별</span>
          <span class="contents">남성</span>
        </p>
        <p>
          <span class="label">주소</span>
          <span class="contents">(13579) 경기도 화성시 화성로8길 152 EAP아파트 210동 202호</span>
        </p>
        <p>
          <span class="label">활동 지역</span>
          <span class="contents">경기도, 서울특별시</span>
        </p>
        <p>
          <span class="label">강의 경력</span>
          <span class="contents">7년</span>
        </p>
        <p>
          <span class="label">진행 형태</span>
          <span class="contents">강의 / 집단프로그램</span>
        </p>
        <p>
          <span class="label">전문분야 - 원인</span>
          <span class="contents"></span>
        </p>
        <p>
          <span class="label">전문분야 - 반응</span>
          <span class="contents"></span>
        </p>
        <p>
          <span class="label">자격증</span>
          <span class="contents">심리치료사 자격증</span>
        </p>
      </body>
    </section>
  </mat-tab>
  <mat-tab label="강의 리스트" class="second">
    <section class="second gridContainer">
      <div class="item">
        <img src="../../../assets/images/background/EAPitem.png" alt="/" (click)="addSenior()">
        <div class="gridbody">
          <p class="gridtitle">바쁠수록 차분하게, 마음챙김 영상</p>
          <p class="usage">
            <span class="time">10 Hours</span> /
            <span class="point"> 20,000 p</span>
          </p>
          <p class="date">2020년 12월 7일</p>
        </div>
      </div>
      <div class="item">
        <img src="../../../assets/images/background/EAPitem.png" alt="/" (click)="addSenior()">
        <div class="gridbody">
          <p class="gridtitle">바쁠수록 차분하게, 마음챙김 영상</p>
          <p class="usage">
            <span class="time">10 Hours</span> /
            <span class="point"> 20,000 p</span>
          </p>
          <p class="date">2020년 12월 7일</p>
        </div>
      </div>
      <div class="item">
        <img src="../../../assets/images/background/EAPitem.png" alt="/" (click)="addSenior()">
        <div class="gridbody">
          <p class="gridtitle">바쁠수록 차분하게, 마음챙김 영상</p>
          <p class="usage">
            <span class="time">10 Hours</span> /
            <span class="point"> 20,000 p</span>
          </p>
          <p class="date">2020년 12월 7일</p>
        </div>
      </div>
      <div class="item">
        <img src="../../../assets/images/background/EAPitem.png" alt="/" (click)="addSenior()">
        <div class="gridbody">
          <p class="gridtitle">바쁠수록 차분하게, 마음챙김 영상</p>
          <p class="usage">
            <span class="time">10 Hours</span> /
            <span class="point"> 20,000 p</span>
          </p>
          <p class="date">2020년 12월 7일</p>
        </div>
      </div>
      <div class="item">
        <img src="../../../assets/images/background/EAPitem.png" alt="/" (click)="addSenior()">
        <div class="gridbody">
          <p class="gridtitle">바쁠수록 차분하게, 마음챙김 영상</p>
          <p class="usage">
            <span class="time">10 Hours</span> /
            <span class="point"> 20,000 p</span>
          </p>
          <p class="date">2020년 12월 7일</p>
        </div>
      </div>

    </section>
  </mat-tab>
</mat-tab-group>
