<div class="contentsWrap">
  <div class="card-grid-container">
    <mat-card class="grid-content">
      <a href="/" mat-button>
        <div class="iconWrap">
          <mat-icon class="headerIcon">supervisor_account</mat-icon>
        </div>
        <span class="useNum label">당일 접속자 수</span>
        <span class="number">200</span>
      </a>
    </mat-card>
    <mat-card class="grid-content">
      <a href="/" mat-button>
        <div class="iconWrap">
          <mat-icon class="headerIcon">cast</mat-icon>
        </div>
        <span class="evtNum label">당일 시행 강의</span>
        <span class="number">10</span>
      </a>
    </mat-card>
    <mat-card class="grid-content">
      <a href="/" mat-button>
        <div class="iconWrap">
          <mat-icon class="headerIcon">book_online</mat-icon>
        </div>
        <span class="reqNum label">당일 접수 강의 수</span>
        <span class="number">43</span>
      </a>
    </mat-card>
    <mat-card class="grid-content">
      <a href="/" mat-button>
        <div class="iconWrap">
          <mat-icon class="headerIcon">book</mat-icon>
        </div>
        <span class="emgNum label">당일 강의 신청 수</span>
        <span class="number">6</span>
      </a>
    </mat-card>
  </div>
  <mat-card class="chart">
    <mat-card-title>월 포인트 사용 추이</mat-card-title>
    <div>
      <canvas baseChart style="width:100%;height:400px;"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [colors]="lineChartColors"
      [options]="lineChartOptions" 
      [legend]="lineChartLegend" 
      [chartType]="'line'">
      </canvas>
    </div>
  </mat-card>
  <div class="dataTables">
    <mat-card>
      <mat-card-title>오늘의 강의 리스트</mat-card-title>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="requestData" #sort1='matSort' matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let row1"> {{row1.id}} </td>
          </ng-container>

          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 진행상황 </th>
            <td mat-cell *matCellDef="let row1"> {{row1.progress}} </td>
          </ng-container>

          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 발신처 </th>
            <td mat-cell *matCellDef="let row1"> {{row1.from}} </td>
          </ng-container>

          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 내용 </th>
            <td mat-cell *matCellDef="let row1"> {{row1.desc}} </td>
          </ng-container>

          <ng-container matColumnDef="who">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 당사자 </th>
            <td mat-cell *matCellDef="let row1"> {{row1.who}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="requestColumns"></tr>
          <tr mat-row *matRowDef="let row1; columns: requestColumns;"></tr>

        </table>

        <mat-paginator [pageSize]="5" #pagnator1='matPaginator'></mat-paginator>

      </div>
    </mat-card>
    <mat-card>
      <mat-card-title>월 베스트 강의 - 만족도</mat-card-title>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="logData" matSort #sort2='matSort'>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let row2"> {{row2.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 모델명 </th>
            <td mat-cell *matCellDef="let row2"> {{row2.name}} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 기기종류 </th>
            <td mat-cell *matCellDef="let row2"> {{row2.type}} </td>
          </ng-container>

          <ng-container matColumnDef="center">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 시설 </th>
            <td mat-cell *matCellDef="let row2"> {{row2.center}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 발생시간 </th>
            <td mat-cell *matCellDef="let row2"> {{row2.time}} </td>
          </ng-container>

          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 내용 </th>
            <td mat-cell *matCellDef="let row2"> {{row2.desc}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="logColumns"></tr>
          <tr mat-row *matRowDef="let row2; columns: logColumns;"></tr>


        </table>

        <mat-paginator [pageSize]="5" #pagnator2='matPaginator'></mat-paginator>

      </div>
    </mat-card>
  </div>
</div>
