<div class="contentsWrap">
  <div class="card-grid-container">
    <mat-card class="grid-content">
      <a href="/" mat-button>
        <mat-icon class="headerIcon">supervisor_account</mat-icon>
        현재 시설 이용자 수
        <span>23</span>
      </a>
    </mat-card>
    <mat-card class="grid-content">
      <a href="/" mat-button>
        <mat-icon class="headerIcon">event</mat-icon>
        월간 이벤트 발생 건수
        <span>113</span>
      </a>
    </mat-card>
    <mat-card class="grid-content">
      <a href="/" mat-button>
        <mat-icon class="headerIcon">alarm</mat-icon>
        월간 요청 발생 건수
        <span>43</span>
      </a>
    </mat-card>
    <mat-card class="grid-content">
      <a href="/" mat-button>
        <mat-icon class="headerIcon">priority_high</mat-icon>
        월간 응급 상황 건수
        <span>63</span>
      </a>
    </mat-card>
  </div>

</div>
