<mat-card class="m-b-10">
    업무 관리
  </mat-card>
  <div class="filterTable">
    <mat-card class="filterContainer">
      <section>
        <span>
          <mat-checkbox
                        [checked]="allComplete"
                        [color]="filter.color"
                        [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
            {{filter.name}}
          </mat-checkbox>
        </span>
        <span>
          <ul>
            <li *ngFor="let subFilter of filter.subFilters">
              <mat-checkbox [(ngModel)]="subFilter.completed"
                            [color]="subFilter.color"
                            (ngModelChange)="updateAllComplete()">
                {{subFilter.name}}
              </mat-checkbox>
            </li>
          </ul>
        </span>
      </section>
    </mat-card>
    <mat-card class="tableContainer">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="입력" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 문서 번호 </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
       
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 작성자 </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
          
          <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 사건사고 </th>
            <td mat-cell *matCellDef="let row"> {{row.event}} </td>
          </ng-container>
      
          <ng-container matColumnDef="center">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 복지시설 </th>
            <td mat-cell *matCellDef="let row"> {{row.center}} </td>
          </ng-container>
      
          <ng-container matColumnDef="present">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 출입인원 </th>
            <td mat-cell *matCellDef="let row"> {{row.present}} </td>
          </ng-container>
      
          <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 작성날짜 </th>
            <td mat-cell *matCellDef="let row"> {{row.datetime}} </td>
          </ng-container>
      
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card>
  </div>