<mat-card class="m-b-10 header">
    어르신 목록
    <button mat-button class="addSenior" (click)="addSenior()">인원 추가</button>
</mat-card>

<div class="card-grid-container">
    <mat-card class="grid-content" *ngFor="let senior of seniors">
        <img
            class="avatar-circle"
            src="assets/images/users/{{ senior.photo }}"
            width="80%">
        <p>
            {{ senior.name }}
        </p>
        <p> {{ senior.age }} / {{ senior.gender }}</p>
        <p> {{ senior.center }} / {{ senior.latest }}</p>

        <mat-divider></mat-divider>

        <div class="btnContainer">
            <button mat-button class="call" (click)="openNumber()">
                연락
            </button>
            <button mat-button class="info" (click)="detail();">
                정보
            </button>
        </div>

    </mat-card>
</div>