<mat-card class="header">
    <mat-card-title>
        식단 관리
    </mat-card-title>
    <mat-icon title="식단 추가">note_add</mat-icon>
</mat-card>
<div class="bodyWrap">

    <mat-card class="body">
        <mat-tab-group [selectedIndex]="Month" class="tab">
            <mat-tab label="1월"></mat-tab>
            <mat-tab label="2월"></mat-tab>
            <mat-tab label="3월"></mat-tab>
            <mat-tab label="4월"></mat-tab>
            <mat-tab label="5월"></mat-tab>
            <mat-tab label="6월"></mat-tab>
            <mat-tab label="7월"></mat-tab>
            <mat-tab label="8월"></mat-tab>
            <mat-tab label="9월"></mat-tab>
            <mat-tab label="10월"></mat-tab>
            <mat-tab label="11월"></mat-tab>
            <mat-tab label="12월"></mat-tab>
        </mat-tab-group>
        <mat-grid-list cols='3' rowHeight="2:1">
            <mat-grid-tile *ngFor='let dietary of dietarys'>
                <mat-card class="dietrayCard">
                    <mat-grid-list class="cardDiv" cols='2' rowHeight="1:1">
                        <mat-grid-tile class="img" style="background-image:url(../../../assets/images/dietary/{{dietary.url}})"></mat-grid-tile>
                        <mat-grid-tile class="contents">
                            <p><span>{{dietary.year}}</span>-<span>{{dietary.month}}</span>-<span>{{dietary.day}}</span></p>
                            <div class="mealList">
                                <ul class="meals">
                                    <li *ngFor='let meal of dietary.meals'>- {{meal}}</li>
                                    <li *ngIf='dietary.info'>*{{dietary.info}}</li>
                                </ul>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>border_color</mat-icon>
                          <span>식단 변경</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>remove_circle</mat-icon>
                          <span>식단 삭제</span>
                        </button>
                      </mat-menu>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
