<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>&nbsp;&nbsp;
  <button mat-icon-button>
    <mat-icon>card_giftcard</mat-icon>
  </button>&nbsp;&nbsp;
  <button mat-icon-button matBadge='2'>
    <mat-icon>notification_important</mat-icon>
  </button>&nbsp;&nbsp;
  <button mat-icon-button>
    <mat-icon>mail_outline</mat-icon>
  </button>&nbsp;&nbsp;
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>&nbsp;&nbsp;
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
