<mat-card class="m-b-10 header">
    <span class="title">고객사 목록</span>
    <button mat-button class="download" (click)="export();"> 다운로드 </button>
  </mat-card>
  <div class="contents">
    <table id="companyList" mat-table [dataSource]="tableData" class="mat-elevation-z8">
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 고객사명 </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> 계약시작일 </th>
        <td mat-cell *matCellDef="let row"> {{row.start}} </td>
      </ng-container>
  
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> 계약종료일 </th>
        <td mat-cell *matCellDef="let row"> {{row.end}} </td>
      </ng-container>
  
      <ng-container matColumnDef="totalPoint">
        <th mat-header-cell *matHeaderCellDef> 총 포인트 </th>
        <td mat-cell *matCellDef="let row"> {{row.totalPoint}} </td>
      </ng-container>
  
      <ng-container matColumnDef="alivePoint">
        <th mat-header-cell *matHeaderCellDef> 잔여 포인트 </th>
        <td mat-cell *matCellDef="let row"> {{row.alivePoint}} </td>
      </ng-container>
  
      <ng-container matColumnDef="personalPoint">
        <th mat-header-cell *matHeaderCellDef> 직원당 포인트 </th>
        <td mat-cell *matCellDef="let row"> {{row.personalPoint}} </td>
      </ng-container>
  
      <ng-container matColumnDef="workerNum">
        <th mat-header-cell *matHeaderCellDef> 직원 수 </th>
        <td mat-cell *matCellDef="let row"> {{row.workerNum}} </td>
      </ng-container>

      <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef> 담당자 </th>
        <td mat-cell *matCellDef="let row"> {{row.manager}} </td>
      </ng-container>

      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> 연락처 </th>
        <td mat-cell *matCellDef="let row"> {{row.contact}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> 이메일 </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
  
      
  
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;" (click)="Detail();"></tr>
  
  
    </table>
  </div>
  