<mat-card class="m-b-10">
    사진첩
  <button mat-button class="addPhoto">사진 추가</button>
</mat-card>
<div class="gridContainer">
    <div class="gridItem" *ngFor="let activity of activities">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span class="edit">정보 변경</span>
            </button>
            <button mat-menu-item>
              <mat-icon>remove_circle</mat-icon>
              <span class="remove" (click)="remove(this)">사진 삭제</span>
            </button>
        </mat-menu>
        <img src="../../../assets/images/users/{{activity.photo}}" alt="/">
        <div class="contents">
            <input type="text" value="{{activity.datetime}}" readonly>
            <input type="text" value="{{activity.task}}" readonly>
            <input type="text" value="{{activity.center}}" readonly>
        </div>
    </div>
</div>