<mat-list role="list">
  <div class="logo">
    <a href="/"></a>
  </div>
  <div class="manager">
    <p><img src="../../../assets/images/users/{{user[0].img}}" class="userImg"
        alt='관리자 {{user[0].name}}'></p>
    <p>
      <button mat-button [matMenuTriggerFor]='userSetting' class="userName">{{user[0].name}}</button>
      <mat-menu #userSetting>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>사용자 설정
        </button>
        <button mat-menu-item>
          <mat-icon>power_settings_new</mat-icon>로그아웃
        </button>
      </mat-menu>
    </p>
    <p class="work">{{user[0].progress}}</p>
  </div>
  <mat-accordion>
    <div *ngFor="let item of items">
      <div *ngIf="!item.subItem">
        <div class="m-l-8">
          <mat-list-item routerLink="{{ item.path }}">
            <mat-icon>{{item.icon}}</mat-icon>{{ item.name }}
          </mat-list-item>
        </div>
      </div>
      <div *ngIf="item.subItem">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{item.icon}}</mat-icon>
              {{ item.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item *ngFor="let subItem of item.subItem" routerLink="{{ subItem.path }}">
            <mat-icon>{{subItem.icon}}</mat-icon>{{ subItem.name }}
          </mat-list-item>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-accordion>
</mat-list>
