.videoplayer {
    text-align: center;
}
.videoplayer div {
    display: inline-block;
    width: 80%;
}
.videoplayer video {
    width:100%;
    padding-bottom:20px;
}
.videoplayer div span {
    display:inline-block;
}
.videoplayer div .title{
    float: left;
    font-size: 1.3rem;
}
.videoplayer div .title::before{
    content:'●'; margin-right: 15px;
}
.videoplayer div .update{
    float: right;
    font-size: 0.9rem;
    color:#888;
}
.videoplayer div p {
    padding-top: 30px;
    clear:both;
    text-align: left;
    text-indent: 20px;
}