.delete {
    color:red;
}
.header {
    line-height: 36px;
}
.header .title {
    padding-right:50px;
}
.header button {
    margin:0 10px;
    color:#fff;
    float:right;

}
.header .download {
    background-color: khaki;
}
.header .addTeacher {
    background-color: hotpink;
}
table .mat-header-row {
    background-color: gray;
}
table .mat-header-row .mat-header-cell {
    color:#fff;
    font-size: 0.9rem;
}
table .mat-row:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor:pointer;
}