<mat-card class="m-b-10">
  <span>강사 등록하기</span>
</mat-card>
<section class="enroll">
  <form action="">

    <div class="img">
      <p class="thum">
        <span class="label">
          사진
        </span>
        <input type="file" name="thumnail" class="file">
      </p>
    </div>
    <p>
      <span class="label">아이디</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">비밀번호</span>
      <mat-form-field class="contents">
        <input type="password" matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">비밀번호 확인</span>
      <mat-form-field class="contents">
        <input type="password" matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">이름</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">성별</span>
      <mat-form-field  class="contents">
        <mat-label>성별 선택</mat-label>
        <mat-select>
          <mat-option value="남">남</mat-option>
          <mat-option value="여">여</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <span class="label">연락처</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">주소</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">계산서 유형</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">정산 정보</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">활동 지역</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">강의 경력</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">진행 형태 </span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">전문분야 - 원인</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">전문분야 - 결과</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">자격증</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>

    <div class="submitBox">
      <button mat-button class="submit">등록하기</button>
    </div>
  </form>
</section>