.first {
    padding:1rem 2rem;
}
.first .label {
    display:inline-block;
    width:15%;
    min-width:150px;
    text-align: right;
    font-weight: bold;
}
.first .contents {
    display:inline-block;
    width:80%;
    padding-left: 50px;
}

.second {
    padding:1rem 2rem;
}
.second .label {
    display:inline-block;
    width:15%;
    min-width:150px;
    text-align: right;
    font-weight: bold;
}
.second .vertical {
    vertical-align: top;
}
.second .contents {
    display:inline-block;
    width:80%;
    padding-left: 50px;
}

table .mat-header-row {
    background-color: gray;
}
table .mat-header-row .mat-header-cell {
    color:#fff;
    font-size: 0.9rem;
}
