@font-face {
  font-family: "NanumGothic";
  src: local("NanumGothic"), url(./assets/fonts/NanumGothic.ttf) format("truetype");
}

* {
  padding : 0;
  margin : 0;
  outline : none;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }

mat-card {
  box-shadow: rgba(80, 80, 80, 0.2) 1px 1px 2px 2px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}

.filterTable {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: 220px 1fr;
  column-gap: 10px;
}

.mat-elevation-z8 {
  box-shadow: rgba(150, 150, 150, 0.2) 0px 0px 3px 2px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

tr {
  height: 35px !important;
}