<mat-card class="m-b-10">
  <span>고객사 등록하기</span>
</mat-card>
<section class="enroll">
  <form action="">
    <p>
      <span class="label">고객사명</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">담당자명</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">사업자등록번호</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">식별코드</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">연락처</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">이메일</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">계약기간</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">계약 금액</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">직원 수 </span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">업종</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <p>
      <span class="label">주소</span>
      <mat-form-field class="contents">
        <input matInput >
      </mat-form-field>
    </p>
    <div class="submitBox">
      <button mat-button class="submit">등록하기</button>
    </div>
  </form>
</section>
