#noticeFile {
    display: none;
}
h4 {
    display: inline-block;
    margin:0;
    padding:0.5rem 0;
    
}
.select {
    min-width: 200px;
    width:30%;
    float:right;
    position: relative;
    top:-5px;
}

.contents {
    padding:2rem;
}
.contents div{
    padding:1rem 0;
    position: relative;

}
.contents span{
    display: inline-block;
    width:20%;
    padding:0.5rem 0.3rem;
}
.contents .text span{
    width:100%;
    padding-bottom:2rem;
}
.contents .input {
    width:80%; 
    float:right;
    
    padding:0.5rem 0.3rem;
    
}
.contents .uploadfile {
    border:1px solid rgb(118, 118, 118)
}
.contents .uploadfile:hover{
    background-color: #eee;
    cursor:pointer;
}

.contents .textarea {
    border: 2px solid rgb(118, 118, 118);
    border-radius: 20px;
    padding:1rem;
    height:400px;
}
.buttonBox{
    text-align: center;
}
.buttonBox button{
    display: inline-block; 
    margin:0 20px;
    width:8%;
}
.submit{
    background-color: royalblue;
    color:#fff;
}
.back {
    background-color: #eee;
}