<mat-card>
  <h3>동영상 목록</h3>
  <button mat-button class="addVideo">영상 추가</button>
</mat-card>
<div class="videoList">
  <mat-card *ngFor="let video of videos">
    <img class="thumnail" src="../../../assets/images/users/{{video.thum}}" alt='/' (click)="detail()">
    <p class="title" (click)="detail()">{{video.title}}</p>
    <p class="update">{{video.update}}</p>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>정보 변경</span>
      </button>
      <button mat-menu-item>
        <mat-icon>remove_circle</mat-icon>
        <span>영상 삭제</span>
      </button>
    </mat-menu>
  </mat-card>
</div>
