.first {
    padding:1rem 2rem;
}
.first .label {
    display:inline-block;
    width:15%;
    min-width:150px;
    text-align: right;
    font-weight: bold;
}
.first .contents {
    display:inline-block;
    width:80%;
    padding-left: 50px;
}
.first .table {
    vertical-align: top;
}
.first .img{
    padding-bottom: 20px;
    padding-right:10px;
}

.second {
    padding:1rem;
}
.second .delete {
    color:red;
}