<h4>새로 오신 어르신</h4>
<div class="contents">
    <form action="/">
        <p class="name">
            <span class="label">이름</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        <p class="file">
            <span class="label">사진</span>
                <label for="seniorImg" class="fileUpload">사진 추가하기</label>
                <input type="file" id="seniorImg" class="hidden" (change)="value()">
        </p>
        <p class="age">
            <span class="label">나이</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        <p class="gender">
            <span class="label">주소</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        <p class="gender">
            <span class="label">성별</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        <p class="desc">
            <span class="label">특이사항</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        <p class="number">
            <span class="label">연락처</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        <p class="guardianName">
            <span class="label">보호자 이름</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        <p class="guardianNumber">
            <span class="label">보호자 연락처</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        <div class="buttonBox">
            <button mat-button class="submit">추가하기</button>
            <button mat-button class="cancel" (click)="closeDialog()">취소</button>
        </div>
    </form>
</div>
