.delete {
    color:red;
    cursor: pointer;
}
table .mat-header-row {
    background-color: gray;
}
table .mat-header-row .mat-header-cell {
    color:#fff;
    font-size: 0.9rem;
}
.approve {
    cursor: pointer;
}