<mat-card class="m-b-10">
    <span>
        승인 대기자 목록
    </span>
</mat-card>
<div class="contents">
  <table mat-table [dataSource]="readyData" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 이름 </th>
      <td mat-cell *matCellDef="let row2"> {{row2.name}} </td>
    </ng-container>

    <ng-container matColumnDef="divCause">
      <th mat-header-cell *matHeaderCellDef> 원인대분류 </th>
      <td mat-cell *matCellDef="let row2"> {{row2.divCause}} </td>
    </ng-container>

    <ng-container matColumnDef="divResult">
      <th mat-header-cell *matHeaderCellDef> 결과대분류 </th>
      <td mat-cell *matCellDef="let row2"> {{row2.divResult}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> 가입 신청일 </th>
      <td mat-cell *matCellDef="let row2"> {{row2.date}} </td>
    </ng-container>

    <ng-container matColumnDef="ready">
      <th mat-header-cell *matHeaderCellDef> 승인 </th>
      <td mat-cell *matCellDef="let row2"><a class="approve" (click)="clearTable(row2)">승인대기</a></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> 삭제 </th>
      <td mat-cell *matCellDef="let row2"><a class="delete" (click)="clearTable(row2)">삭제하기</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="readyColumns"></tr>
    <tr mat-row *matRowDef="let row2; columns: readyColumns;"></tr>


  </table>
</div>
